<header class="site-header">
	<!-- <div class="site-header-rainbow">
		<div class="site-header-rainbow-chunk one"></div>
		<div class="site-header-rainbow-chunk two"></div>
		<div class="site-header-rainbow-chunk three"></div>
		<div class="site-header-rainbow-chunk four"></div>
		<div class="site-header-rainbow-chunk five"></div>
	</div> -->
	<div class="site-header-content">
		<h1 class="site-header-title">Robot<span class="site-header-title-space"> </span>Arms.Pub</h1>
		<nav class="site-header-nav">
			<ul>
				<li>About</li>
				<li>Past Issues</li>
				<li>Submissions</li>
				<li>Legal Shit</li>
			</ul>
		</nav>
	</div>
</header>